"----------Plugins--------
set NERDTree

"----------Common--------
set showmode
set scrolloff=5
set incsearch

"--------Mappings--------
let mapleader = " "

nmap <leader>x :action CloseContent<CR>

nmap <leader>e :NERDTreeFocus<CR>
nmap <C-n> :NERDTreeToggle<CR>

nmap <leader>h :action ActivateTerminalToolWindow<CR>
nmap <leader>hh :action HideActiveWindow<CR>

nmap <TAB> :action NextTab<CR>
nmap <S-TAB> :action PreviousTab<CR>

nmap <leader>/ :action CommentByLineComment<CR>
nmap <leader>b :action ToggleLineBreakpoint<CR> 

nmap <leader>f :action GotoFile<CR>

nmap <leader>gd :action GotoDeclaration<CR>